BasedOnStyle: Google
UseTab: Never
TabWidth: 4
AccessModifierOffset: -2
BreakBeforeBraces: Linux
# Wider columns can make conditions harder to read
ColumnLimit: 90
# Makes maintaining initalizer lists a little easier
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# This makes short functions harder to read
AllowShortFunctionsOnASingleLine: false
